@media screen and (max-width: 600px) {
  .header,
  .content,
  .main,
  .photo1,
  .screenshot,
  .project1,
  .description,
  .social
  {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
  }
  .udacity{
    margin-top: 10px;
    max-width: 50%;
  }
  .content_title{
    text-align: center;
  }
  .name{
    font-size: 150%;
  }
  .nick-name{
    font-size: 120%;
  }
  ul {
    padding: 0;
  }
}

@media screen and (min-width: 601px){
 .work,
 .content {
   width: 49%;
   display: inline-block;
   padding-bottom: 10px;
 }

 .content{
   padding-left: 10%;
   vertical-align: top;
   margin-top: 40px;
   font-size: 140%;
 }

}

@media screen and (min-width: 800px){
  .header,
  .main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1050px){
  .header,
  .main{

    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}
