* {
  font-family: "Lato", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
    margin:10px;
    max-width: 100%;
    width: 100%;
    color: #2d3c49;
}
.name {
  font-size: 300%;
  margin-bottom: 0;
}
.nick-name{
  margin-top: 5px;
  font-weight: 900;
  font-size: 130%;
}
.header_inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header_logo{
    width: 30%;
}
.header_title{
    text-align: right;
    text-transform: uppercase;
    width: 70%;
}
.content{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.content_title{
  width: 100%;
  text-align: left;
  color: #7d97ad;
  margin-bottom: 10px;

}
.main {
  padding-top: 10px;
  border-top: 2px solid #7d97ad;
  margin-left: auto;
  margin-right: auto;
}
.udacity {
  margin-top: 30px;
  padding: 10px;
  max-width: 45%;

}

.photo1, .main_photo {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.screenshot {
  width: 350px;
  height: 270px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 10px;

}

.work{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project_examples {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.project1{
  width: 33.33%;
}
.project2{
  width: 33.33%;
}
.project3{
  width: 33.33%;
}

footer {
    width: 100%;
    border-top: 1px solid #7d97ad;
    padding: 1em;
}
.link{
  margin-top: 5px;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-size: 100%;

}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
footer {
  text-align: center;
}
ul {
  list-style-type: none;
}

.social {
  display: inline-block;
  padding: 10px;
}
